.header-main-container{
    height:600px;
    width: 100%;
    position:relative;
    background-image: url('../../../images/header.jpg');
    background-size: cover;
}
.header-text-container{
    text-align: center;
    padding-top: 150px;
    color: rgb(235, 223, 223);
    font-weight: 500;
    font-size: 20px;
}
.header-text-container h1{
    font-size: 60px;
    font-weight: 700;
    color: rgb(235, 223, 223);
}